                    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap');
                    html {
                        font-family: 'IBM Plex Sans', sans-serif;
                    }
                    
                    h1,
                    h2,
                    h3,
                    h4,
                    h5,
                    h6 {
                        font-family: 'IBM Plex Sans', sans-serif;
                        font-weight: 600;
                    }
                    
                    p {
                        font-family: 'IBM Plex Sans', sans-serif;
                        font-weight: 400;
                    }
                    
                    .computer {
                        position: absolute;
                        top: 65%;
                        left: 20%;
                        color: white;
                    }
                    
                    .computer p {
                        font-size: 18px;
                    }
                    
                    .computer h2 {
                        font-size: 36px;
                        font-weight: 600;
                    }
                    
                    .nav-bar ul {
                        overflow: auto;
                    }
                    
                    #company {
                        margin-left: 10%;
                    }
                    
                    .nav-bar li {
                        float: left;
                        list-style: none;
                        margin: 15px 5px;
                        /* border: 2px solid black; */
                        /* padding: 15px; */
                    }
                    
                    .search {
                        display: inline-block;
                        width: 300px;
                        /* margin: 0px 250px; */
                        text-align: center;
                        margin-left: 20%;
                        margin-bottom: 10px;
                    }
                    
                    .nav-bar .search {
                        text-align: center;
                    }
                    
                    input {
                        width: 300px;
                        /* border: 1px solid black; */
                        border-radius: 10px;
                        padding: 5px;
                        text-align: center;
                    }
                    
                    .nav-bar1 {
                        /* background-color: black; */
                        /* border-radius: 20px; */
                        /* border: 2px solid black; */
                        margin-right: 80px;
                        margin-left: 80px;
                    }
                    
                    .nav-bar1 ul {
                        overflow: auto;
                    }
                    
                    .nav-bar1 li {
                        float: left;
                        list-style: none;
                        margin: 13px 10px;
                        /* border: 2px solid black; */
                    }
                    
                    .nav-bar1 .box {
                        float: right;
                    }
                    
                    .box {
                        display: inline-block;
                        /* border: 2px solid black; */
                        margin: 10px;
                        width: 120px;
                        text-align: center;
                    }
                    
                    .nav-bar a {
                        float: right;
                        /* border: 2px solid black; */
                    }
                    
                    #free {
                        color: blue;
                    }
                    
                    #title {
                        color: rgba(92, 172, 13, 0.829);
                        /* font-weight: bolder; */
                        font-size: 25px;
                        padding: 10px;
                    }
                    
                    #grp {
                        padding: 8px 7px;
                        color: white;
                        background-color: rgb(0, 110, 255);
                        background-size: contain;
                        border-radius: 4px;
                    }
                    
                    #post {
                        padding: 8px 7px;
                        background-color: rgb(214, 214, 214);
                        background-size: contain;
                        border-radius: 4px;
                    }
                    
                    .ar {
                        padding: 3px;
                        top: 10%;
                    }
                    
                    .main {
                        position: relative;
                    }
                    
                    .text {
                        display: none;
                        /* border: 2px solid black; */
                        position: absolute;
                        top: 10%;
                        right: 90%;
                        color: white;
                        padding: 0;
                        margin: 0;
                        /* font-size: 150%; */
                    }
                    
                    .join {
                        display: none;
                        /* border: 2px solid black; */
                        position: absolute;
                        top: 10%;
                        right: 10%;
                        color: white;
                        padding: 0;
                        margin: 0;
                    }
                    
                    .main img {
                        opacity: 1;
                        filter: grayscale(60%);
                    }
                    
                    .main h6 {
                        position: absolute;
                        top: 85%;
                        font-size: 18px;
                    }
                    
                    .acc {
                        float: right;
                    }
                    
                    .text h2 {
                        font-size: 50px;
                    }
                    /*swita end*/
                    
                    .share {
                        float: right;
                        margin-left: 30%;
                        /* display: none!important;*/
                    }
                    
                    .card {
                        padding: 5%;
                        margin: 1%;
                    }
                    
                    .form-floating {
                        display: block;
                    }
                    
                    .bg-light {
                        --bs-bg-opacity: 1;
                        background-color: white!important;
                        /* background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important; */
                    }
                    
                    .stat {
                        display: flex;
                    }
                    
                    .view {
                        padding-right: 40px;
                        align-items: center;
                        width: 200px;
                    }
                    
                    .view1 {
                        display: none;
                    }
                    
                    .form-control {
                        border-top: 2px!important;
                        border-right: 2px!important;
                        border-left: 2px!important;
                        width: 243px;
                    }
                    
                    .exclamation {
                        margin-left: 20px;
                    }
                    
                    .fa-exclamation-circle {
                        color: #c4c1c1 !important;
                        margin-top: 5px;
                    }
                    
                    .fa-caret-down {
                        color: black !important;
                    }
                    
                    .btn {
                        width: 133px !important;
                        height: 36px !important;
                        align-items: center!important;
                        font-size: 15px;
                    }
                    
                    .btn-secondary {
                        background-color: #EDEEF0!important;
                        color: black !important;
                    }
                    
                    .btn-primary {
                        background-color: #2F6CE5 !important;
                        color: white !important;
                    }
                    
                    form a {
                        margin-left: 16px;
                    }
                    
                    .navbar-brand span {
                        padding-bottom: 31px;
                        border-bottom: 1px solid black;
                    }
                    
                    .location {
                        align-items: center;
                        justify-content: center;
                        margin-left: 20%;
                        text-decoration: bold;
                    }
                    
                    .date {
                        text-decoration: bold;
                    }
                    
                    .dropdown-toggle::after {
                        display: none;
                        margin-left: .255em;
                        vertical-align: .255em;
                        content: "";
                        border-top: .3em solid;
                        border-right: .3em solid transparent;
                        border-bottom: 0;
                        border-left: .3em solid transparent;
                    }
                    
                    .fa-ellipsis-h {
                        color: black !important;
                    }
                    
                    hr {
                        margin-left: 310px;
                        margin-right: 310px;
                    }
                    /* .navbar-light .navbar-toggler-icon {
                        background-image: url(filter.png) !important;
                        background-repeat: no-repeat;
                        background-size: cover;
                    } */
                    
                    .navbar-light .navbar-toggler {
                        color: #F1F3F5!important;
                        border-radius: 2px;
                    }
                    
                    .navbar-light .navbar-toggler p {
                        color: black !important;
                        background-color: #F1F3F5;
                    }
                    
                    .navbar-toggler {
                        background-color: #F1F3F5!important;
                    }
                    
                    .navbar-toggler-icon {
                        display: inline-block;
                        width: 7rem;
                        height: 1.5em;
                        vertical-align: middle;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 100%;
                    }
                    
                    #post {
                        display: none;
                    }
                    /* modal starts */
                    
                    .navbar .sign {
                        float: right;
                    }
                    
                    #card {
                        border-radius: 10px;
                        padding: 35px 26px;
                    }
                    
                    .abt {
                        font-size: 14px
                    }
                    
                    .inputbox {
                        margin-top: 12px;
                        position: relative
                    }
                    
                    .inputbox input {
                        border: 2px solid #eee;
                        padding: 0 10px
                    }
                    
                    .inputbox input:focus {
                        color: #495057;
                        background-color: #fff;
                        border-color: none;
                        outline: 0;
                        box-shadow: none;
                        border: 2px solid #0d6efd
                    }
                    
                    .input-tag {
                        position: absolute;
                        top: 27px;
                        left: 7px;
                        width: 32px
                    }
                    
                    .proceed button {
                        height: 30px;
                        font-size: 15px
                    }
                    
                    .btn-primary:focus {
                        color: #fff;
                        background-color: #025ce2;
                        border-color: #0257d5;
                        box-shadow: none
                    }
                    
                    .box .box2 {
                        /* float: right; */
                        /* display: none; */
                    }
                    
                    .box1 {
                        display: inline-block;
                        width: 300px;
                    }
                    
                    .box {
                        display: flex;
                        /* border: 2px solid black; */
                        margin: 10px;
                        width: 120px;
                        text-align: center;
                    }
                    
                    .modal-header {
                        color: #008A45;
                        background: #EFFFF4;
                        font-size: 14px;
                    }
                    
                    .btn-close {
                        box-sizing: content-box;
                        width: 1em;
                        height: 1em;
                        padding: .25em .25em;
                        color: #000;
                        background: transparent url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e) center/1em auto no-repeat;
                        border: 0;
                        border-radius: .25rem;
                        opacity: 1;
                        float: right;
                    }
                    
                    .card-login {
                        background: #F7F8FA;
                    }
                    
                    .form-control {
                        background-color: #F7F8FA;
                        margin-left: 1px;
                        margin-right: 18px;
                    }
                    /* modal ends */
                    
                    .pen {
                        /* min-height: 100%; */
                        position: fixed;
                        overflow-y: scroll;
                        overflow-x: hidden;
                        float: right;
                        top: 90%;
                        right: 10%;
                        width: 54px;
                        height: 54px;
                        align-items: center;
                        justify-content: center;
                        z-index: 3;
                        display: none;
                        border-radius: 50%;
                        background: linear-gradient(180deg, #FF5C5C 0%, #F0568A 100%);
                        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18), 0px 0px 2px rgba(0, 0, 0, 0.08);
                    }
                    
                    #mob-create,
                    #mob-sign {
                        display: none;
                        color: black;
                        text-decoration: underline;
                    }
                    
                    .account {
                        display: block;
                        width: 280px !important;
                        border-radius: 20px;
                    }
                    
                    .mob-account {
                        display: none;
                    }
                    
                     ::placeholder {
                        float: left;
                        text-decoration: bolder!important;
                    }
                    
                    .name {
                        width: 200px;
                    }
                    
                    #welcome {
                        display: none;
                    }
                    
                    .cross {
                        display: none;
                    }
                    
                    .soft2 {
                        display: none;
                    }
                    
                    .share-button {
                        display: none!important;
                    }
                    
                    .big-button {
                        width: 700px!important;
                    }
                    /* responsive code */
                    
                    @media (max-width:500px) {
                        .pen {
                            display: block;
                        }
                        .modal.show .modal-dialog {
                            transform: none;
                            top: 12%;
                        }
                    }
                    
                    @media(max-width:996px) {
                        .navy {
                            display: none!important;
                        }
                        .join {
                            display: block;
                        }
                        .text {
                            display: block;
                        }
                        .soft1 {
                            display: none;
                        }
                        .soft2 {
                            display: block;
                        }
                    }
                    
                    @media (max-width: 800px) {
                        .right {
                            display: none!important;
                        }
                        .box2 {
                            display: none;
                        }
                        #mob-sign,
                        #mob-create {
                            display: block;
                            font-size: 12px;
                            margin-top: 35px;
                            margin-left: 20px;
                        }
                        #sign-in {
                            display: none;
                        }
                        #welcome {
                            display: block;
                        }
                        .mob-account {
                            /* width: 150px; */
                            display: block;
                        }
                        .sign {
                            display: none;
                        }
                        .account {
                            display: none;
                            /* border-radius: 20px!important; */
                        }
                        .modal-header {
                            display: none;
                        }
                        .modal-body {
                            height: 580px;
                        }
                        .cross {
                            display: block;
                        }
                        .close1 {
                            display: none;
                        }
                        .btn-primary {
                            border-radius: 20px !important;
                        }
                        .computer {
                            font-size: 2px;
                            top: 60%;
                            left: 10%;
                        }
                        .computer p {
                            font-size: 9px;
                            top: 30%;
                        }
                        .computer h2 {
                            font-size: 15px;
                            top: 30%;
                        }
                    }
                    
                    @media (max-width: 1200px) {
                        .view {
                            display: none;
                        }
                        .view1 {
                            display: block;
                        }
                        .name {
                            width: 150px;
                        }
                        .share {
                            width: 200px;
                            margin-left: 1%;
                        }
                        .share-button-primary {
                            width: 60px!important;
                            height: 40px !important;
                            display: none!important;
                        }
                        .share-button {
                            /* width: 100px!important;
                            height: 40px !important; */
                            display: flex !important;
                            background-color: #F1F3F5;
                            width: 90px;
                            align-items: center;
                            border: none;
                            border-radius: 4px;
                            padding: 10px;
                        }
                        .share-button p {
                            margin: 5px;
                        }
                        #post {
                            display: block;
                            background-color: #fff;
                            font-weight: 400;
                        }
                        .navbar-brand {
                            display: none;
                        }
                        hr {
                            display: none;
                        }
                        .big-button {
                            width: 250px!important;
                        }
                    }
                    
                    @media (max-width: 992px) {
                        .navbar-toggler {
                            display: flex!important;
                        }
                    }
